.App {
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

.country-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 10px;
}

.country {
  display: flex;
  gap: 10px;
  justify-content: center;
  height: 40vh;
  margin-bottom: 20px;
}

.card {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: -150px;

}

.flag img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ccc;
}

.info {
  padding: 20px;
  text-align: center;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  bottom: 0;
  width: 100%;
  bottom: 50px;
}
